# Data
data/raw/*
data/processed/*
!data/README.md
*.csv
*.json
*.npy
*.npz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Environment variables
.env

# OS generated
.DS_Store
Thumbs.db
